#bannerEmergente {
	Z-INDEX: 20000; POSITION: absolute; TOP: 370px
}

#supermod_intrusivo {
	Z-INDEX: 2002; FILTER: alpha(opacity=60); LEFT: 0px; FLOAT: left; CURSOR: pointer; POSITION: absolute; TOP: 0px; BACKGROUND-COLOR: #000; opacity: 0.7; -moz-opacity: 0.7; -khtml-opacity: 0.7
}

#principalmod {
	Z-INDEX: 2003; MARGIN-LEFT: auto; WIDTH: 955px; CURSOR: pointer; MARGIN-RIGHT: auto; HEIGHT: auto
}

body {
	margin: 			0px 0px 0px 0px;
	font-family:		Verdana, sans-serif;
	font-size:			11px;
}

#allContent {
	width: 				800px;
	margin-left:		auto;
	margin-right:		auto;
	background-color:	#fafafa;
}

/* PARTE SUPERIOR */
#header {
	height: 			85px;
	border-bottom:		5px solid #888888;
	background:			#ff0000 url(../../img/menu/mapac.gif) no-repeat right;
	line-height: 		.8em;
}

#logoHeader {
	float:				left;
	border:				0px;
}

#logoApplication {
	float:				left;
}

#nameApplication {
	float:				right;
	margin-right:		270px;
}

#globalMenu {
	text-align:			right;
	float:				right;
	padding-right:		65px;
}

.linkGlobal {
	padding: 			0 .3em;
	line-height: 		1.1em;
	text-decoration: 	none;
	font-family: 		Arial, Helvetica, sans-serif;
	font-size: 			10px;
	border-right: 		solid 1px #D3D3D3;
}

#top03 {
	margin-top:			5px;
	height:				15px;
	background-color:	#FFFFFF;
}

DIV.left-container2 {
	border: 			none;
	float: 				left;
	width: 				50%;
}

DIV.right-container2 {
	border: 			none;
	float: 				right;
	text-align: 		right;
	width: 				50%;
}

DIV.message-container {
	border-style: 		none;
	float: 				right;
	text-align: 		left;
	width: 				100%;
	height:				16px;
}

#top04 {
	width:				139px;
	margin:				6px 20px 0px 6px;
	background-color:	#FF0000;
	float:				left;
	margin:				6px 20px 0px 6px;
}

#content_container {
	/*overflow: 			auto;*/
	margin:				12px 20px 20px 177px;
	/*background-color:	#00FF00;*/
}

#footer {
	background: 		url(../../img/menu/footer_fill.gif) repeat-x;
    height:				34px;
	margin-bottom:		0px;
	clear:				left;
}

/*CONTENEDORES DE AREA DE MENÚ*/
DIV.frameMenuContainer{
	width:				139px;
}

DIV.frameMenuContainer ul {
	padding: 			1px;
	margin:				0px;
	font-size:	 		10px;
	font-weight:		bold;
	color:				#7C7C7C;
	/*margin-left: 		0;
	margin-top: 		0;
	border: 			2px solid;
	border-color: 		#AAA #666 #666 #AAA;*/
	background: 		#E4D3D4;
	padding-top:		0px;
	padding-bottom:		6px;
}

DIV.frameMenuContainer ul li {
	list-style: 		none;
	margin: 			0;
	border: 			1px solid;
	border-color: 		#D9C0C0 #C90212;
	text-align: 		center;
	background: 		#FFFFFF;
	text-align:			left;
}

DIV.frameMenuContainer ul ul {
	padding: 			1px;
	margin-left: 		0;
	margin-top: 		0;
	font-weight:		normal;
	color:				#7C7C7C;
	display:			none;
}

DIV.frameMenuContainer ul ul li{
	list-style: 		none;
	margin: 			0;
	text-align: 		center;
	background: 		#FFFFFF;
	text-align:			left;
	border-right:		none;
	border-left:		none;
	border-bottom:		none;
}

DIV.frameMenuContainer ul li.startMenuGroup {
	margin-top:			5px;
}

DIV.frameMenuContainer ul li.withSubMenus {
	background:			#FFFFFF url(../../img/menu/menu_arrow_down.gif) no-repeat 120px 4px;
}

DIV.frameMenuContainer ul li.selected {
	background-color:	#F1F1F1;
	border-bottom:		none;
	border-bottom-color:#F1E5E6;
}

DIV.frameMenuContainer ul li.selectedWithSubMenus {
	background:			#F1F1F1 url(../../img/menu/menu_arrow_up.gif) no-repeat 120px 4px;
	border-bottom:		none;
}

DIV.frameMenuContainer ul li.disabled {
	background-color:	#F9F9F9;
}

DIV.frameMenuContainer ul li.selected a span {
	color:				#FF0000;
}

DIV.frameMenuContainer ul li.selectedWithSubMenus a span {
	color:				#FF0000;
}

DIV.frameMenuContainer ul ul li.subSelected {
	border-top-color:	#F1E5E6;
}

DIV.frameMenuContainer ul ul li span.subMenuText {
	margin-left:		5px;
	color:				#7C7C7C;
}
/*seleccion el mismo elemento que la regla anteriror*/
DIV.frameMenuContainer ul ul li.subSelected span {
	color:				#FF0000;
}

DIV.frameMenuContainer ul li.disabled a span {
	color:				#AAAAAA;
}

DIV.frameMenuContainer ul li a {
	text-decoration: 	none;
	padding: 			0.25em 6px 0.25em 7px;
	display:			block;
	width:				122px;
}

DIV.frameMenuContainer ul li.withSubMenus a {
	text-decoration: 	none;
	padding: 			0.25em 14px 0.25em 7px;
	display:			block;
	width:				114px;
}

DIV.frameMenuContainer ul li a:link { color: #7C7C7C; }
DIV.frameMenuContainer ul li a:visited { color: #7C7C7C; }
DIV.frameMenuContainer ul li.disabled a{ color: #AAAAAA; cursor: default;}

DIV#menuFooter {
	background-color:	#999999;
	width:				139px;
	height:				6px;
	margin-bottom:		45px;
	border-bottom:		1px solid #FFFFFF;
}

DIV#menuFooter DIV {
	background-color:	#FF0000;
	width:				24px;
	height:				6px;
	border-right:		1px solid #FFFFFF;
}

/*CONTENEDORES DE AREA DE TRABAJO*/

/*Estilos para contenedor de comentario*/
DIV.commentContainer {
	background-color:	#FFFFFF;
	padding:			12px;
	margin:				12px 0px;
	width:				567px;
}

/*Estilos para contenedor de titulo de pagina*/
DIV.pageTitleContainer {
	text-align:			left;
	background:			url(../../img/menu/pageImgTitle.gif) no-repeat left center;
	padding-left:		30px;
	width:				561px;
	margin:				0px;
	border:				0px;
}

SPAN.pageTitle {
	font-size:			12px;
	font-weight:		bold;
	/*margin-left:		3px;*/
}

/*Estilos para contenedor de contexto*/
DIV.contextContainer {
	background-color:	#E5EAF0;
	padding:			3px;
	margin:				12px 0px;
	width:				585px;
}

DIV.contextContainer DIV{
	background-color:	#FFFFFF;
	border:				1px solid #BFCBD9;
	padding:			6px;
}

DIV.contextContainer DIV TABLE TH {
	font-size:			11px;
	text-align:			left;
}

DIV.contextContainer DIV TABLE TD {
	font-size:			11px;
	padding-left:		12px;
}

/*Estilos para contenedor simple*/
DIV.frameSimpleContainer {
	margin:				12px 0px 12px 0px;
	width:				589px;
	background-color:	#FFFFFF;
	border:				1px solid #BFBFBF;
	padding:			0px;
}

DIV.titleSimpleContainer {
	margin-top:			1px;
	width:				581px;
	font-weight:		bold;
	height:				12px;
	border-bottom:		1px solid #BFBFBF;
	padding:			1px 0px 6px 8px;
	background-color:	#E8E8E8;
}

DIV.contentSimpleContainer {
	width:				565px;
	background-color:	#FFFFFF;
	padding:			12px 12px 12px 12px;
}

/*Estilos para contenedor de navegación por contenidos*/
DIV.tabsContainer {
	background-color:	#E8E8E8;
	/*border:				0px;
	border-top:			none;*/
	border-bottom:		1px solid #FFFFFF;
	height:				19px;
	margin:				12px 0px 0px 0px;
	padding:			0px;
	width:				591px;
}

DIV.tabsContainer UL {
	list-style: none;
	margin: 0;
	padding: 0;
}

DIV.tabsContainer LI {
	display: block;
	margin: 0;
	padding: 0;
	float: left;
	width: auto;
	height: 18px;
	background-color: #F4ECEC;
	border-top:			1px solid #EFC0C0;
	border-right:		1px solid #EFC0C0;
	border-left:		1px solid #EFC0C0;
}

DIV.tabsContainer LI.active {
	height: 19px;
	background-color:	#FFFFFF;
	border-bottom:		1px solid #FFFFFF;
	border-top:		1px solid #BFBFBF;
	border-right:	1px solid #BFBFBF;
	border-left:	1px solid #BFBFBF;
}

DIV.tabsContainer A {
	color: #000000;
	display: block;
	width: auto;
	text-decoration: none;
	/*background: #DDDDDD;*/
	margin: 0;
	padding: 3px 12px;
	font-size: 10px;
	font-weight: bold;
	/*border-left: 1px solid #fff;
	border-top: 1px solid #fff;
	border-right: 1px solid #EFC0C0;*/
}

/*#navcontainer A:hover, #navcontainer A:active { background: #BBBBBB; }*/

DIV.tabsContainer A.active:link, DIV.tabsContainer A.active:visited {
	position: relative;
	z-index: 102;
	background: #BBBBBB;
	font-weight: bold;
	text-decoration: none;
}

DIV.currentFrameTabContainer {
	border:				1px solid #BFBFBF;
	width:				589px;
	background-color:	#FFFFFF;
	margin:				0px 0px 12px 0px;
}

DIV.activeFrameTabContainer {
	border:				1px solid #BFBFBF;
	/*border-top:			none;*/
	width:				589px;
	background-color:	#FFFFFF;
	margin:				0px 0px 12px 0px;
	display:			none;
}

DIV.contentTabContainer {
	border:				1px solid #BFBFBF;
	margin:				12px;
	padding:			12px;
}

/*
ul#menu {
	color:				#232323;
	margin:				0;
	padding:			0;
	list-style:			none;
}

ul li {
	float:				left;
}

ul li a {
	padding: 			0em .3em;
	line-height: 		1.1em;
	text-decoration: 	none;
	font-family: 		Arial, Helvetica, sans-serif;
	font-size: 			10px;
	border-right: 		solid 1px #D3D3D3;
}

ul li a:hover {
	background-color: 	#A9A9A9;
	color: 				white;
	text-decoration: 	none;
}*/

a#linkExit {
	background: transparent url(../../img/menu/salir.gif) no-repeat 0px 8px;
	padding: 4px 4px;
	text-align: 		center;
	font-size: 			80%;
	font-weight: 		bold;
	text-decoration:	none;
	padding-top: 6px;
}

a#linkExit:link, a#linkExit:link {
	color:				#000000;
}

a#linkExit:hover, a#linkExit:active {
	background-position:0 -31px;
	color: 				#FF0000;
}

a#linkExit:hover {
	color:				#FF0000;
	background-position: 0px -22px;
	background-color: transparent;
}


#container_prod_links {
	display:			none;
	height:				auto;
	padding-top:		3px;
	margin-left:		3px;
	width: 				685px;
	float: 				left;
	border: 			1px solid #EAEAEA;
}

img#messageImage {
	height:				16px;
	width: 				16px;
	border: 			0px;
	vertical-align:		text-bottom;
}

a#messageLink {
	text-decoration:	none;
}
SPAN.text_centro {
	text-align:center;
	vertical-align:middle;
}
/* Ventana modal trusteer*/
.overTrust {
	background: #000;
	opacity: 0.5;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	cursor: pointer;
	opacity: 0.5;
	-khtml-opacity: 0.5;
}

.modalTrust {
	position: absolute;
	padding: 8px;
}

.contenidoTrusteer {
	border-radius: 8px;
	padding: 20px 20px 30px 20px;
	background-image: url(../../pics/fondo_modal_contacto.png);
	background-repeat: no-repeat;
	color: #333;
	font-size: 11px;
	padding-top: 20px;
	font-family: Verdana, Geneva, sans-serif;
}

.closeTrust {
	position: absolute;
	background: url(../../pics/x.png) 0 0 no-repeat;
	width: 24px;
	height: 27px;
	display: block;
	text-indent: -9999px;
	top: 0px;
	right: 10px !important;
	right: 0px;
}

.modalScroll {
	height: 165px;
	overflow: auto;
	padding: 10px 0;
}

.logoTrus {
	background: url(../../pics/trusteer-logo.gif) 0 0 no-repeat;
	width: 430px;
	height: 97px;
}